<div class="grid bg-inherit xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 min-h-60">
	<div class="px-3 py-3 mx-3 mb-4 xl:my-0 rounded-md dark:bg-[#343a3f] bg-[#f4f4f4] flex flex-col"
		hx-ext='response-targets'>
		<p class="border-b font-bold">Your Open Web UI</p>
		<div id="owui_panel" class="flex flex-col flex-grow">
			<p class="pt-2">You currently have a owui running.</p>
			<div class="flex flex-col flex-grow pt-2 text-center justify-center items-center">
				<a id="notebook_open_button"
					class="lg:w-[300px] w-[220px] h-[50px] py-2 flex justify-center items-center cb_button cursor-pointer"
					href="{{ notebook.url }}{% if notebook.start_up_url %}/{{ notebook.start_up_url }}{% endif %}"
					hx-post="/notebook_manage/hx/enter" hx-target="#notebook_panel" hx-swap="innerhtml" target="_blank"
					_="on click
          call window.open(me.href, '_blank')" tabindex="0">
					Open Web UI
				</a>
			</div>
		</div>
	</div>
</div>
