<div class="cb_grid">
	<div class="page-column"
		hx-ext='response-targets'>
		<p class="section-header">Your Workbench</p>
		<div id="notebook_panel" class="flex flex-col flex-grow">
			{% if notebook.start_time == "None" %}
			{# No notebook up #}
			{% include 'components/notebook/start.html' %}
			{% else %}
			{% if notebook.status == "Ready" %}
			{% include 'components/notebook/ready.html' %}
			{% else %}
			{% include 'components/notebook/poll.html' %}
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>
