{# Notebook Polling #}

<p>You have a workbench currently running.</p>
<p>Spun up on: {{ notebook.start_time }}</p>
<cds-button href="{{ notebook.url }}{% if notebook.start_up_url %}/{{ notebook.start_up_url }}{% endif %}" hx-post="/notebook_manage/hx/enter" hx-target="#notebook-wrapper" hx-swap="innerhtml" target="_blank">
	Open workbench
</cds-button>
<cds-button hx-delete="/notebook_manage/hx/delete" hx-target="#notebook-wrapper" hx-swap="innerhtml" hx-confirm="Are you sure you want to terminate: {{ notebook.name }}?">
	Terminate workbench
</cds-button>
