<p class="pt-2">You currently do not have a workbench running.</p>
<div class="flex flex-grow pt-2 text-center justify-center items-center">
	{% if cooloff %}
	<a id="notebook_start_button"
		class="transition-all lg:w-[300px] w-[220px] h-[50px] py-2 flex justify-center items-center relative bg-slate-300 text-black"
		hx-post="/notebook_manage/hx/create" hx-target="#notebook_panel" hx-trigger="click" hx-swap="innerHTML"
		tabindex="0" hx-confirm="You are about to spin up a new instance of a workbench" disabled _="on load wait 5s remove @disabled
			add .cb_button
			remove .bg-slate-300
			remove .text-black
			put 'Create Workbench' into me
			add .cursor-pointer">
		{#
		<svg class="mr-1" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
			viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M21,2a8.9977,8.9977,0,0,0-8.6119,11.6118L2,24v6H8L18.3881,19.6118A9,9,0,1,0,21,2Zm0,16a7.0125,7.0125,0,0,1-2.0322-.3022L17.821,17.35l-.8472.8472-3.1811,3.1812L12.4141,20,11,21.4141l1.3787,1.3786-1.5859,1.586L9.4141,23,8,24.4141l1.3787,1.3786L7.1716,28H4V24.8284l9.8023-9.8023.8472-.8474-.3473-1.1467A7,7,0,1,1,21,18Z">
			</path>
			<circle cx="22" cy="10" r="2"></circle>
		</svg>
		#}
		Cooling off
	</a>
	{% else %}
	<a id="notebook_start_button"
		class="lg:w-[300px] w-[220px] h-[50px] py-2 flex justify-center items-center relative cb_button cursor-pointer"
		hx-post="/notebook_manage/hx/create" hx-target="#notebook_panel" hx-trigger="click" hx-swap="innerHTML"
		tabindex="0" hx-confirm="You are about to spin up a new instance of a workbench">
		{#
		<svg class="mr-1" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
			viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M21,2a8.9977,8.9977,0,0,0-8.6119,11.6118L2,24v6H8L18.3881,19.6118A9,9,0,1,0,21,2Zm0,16a7.0125,7.0125,0,0,1-2.0322-.3022L17.821,17.35l-.8472.8472-3.1811,3.1812L12.4141,20,11,21.4141l1.3787,1.3786-1.5859,1.586L9.4141,23,8,24.4141l1.3787,1.3786L7.1716,28H4V24.8284l9.8023-9.8023.8472-.8474-.3473-1.1467A7,7,0,1,1,21,18Z">
			</path>
			<circle cx="22" cy="10" r="2"></circle>
		</svg>
		#}
		Create Workbench
	</a>
	{% endif %}
</div>
