{% set launch_icon = '<svg class="pr-2" focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32"
	height="32" viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
	<path
		d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z">
	</path>
	<path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
</svg>' %}

<p class="pt-2">You currently do not have a workbench running.</p>
<div class="flex flex-col flex-grow pt-2 text-center justify-center items-center">
	{% if cooloff %}
	<a id="cooloff_button"
		class="lg:w-[300px] w-[220px] h-[50px] py-2 flex justify-center items-center relative bg-slate-300 text-black"
		tabindex="0" disabled _="on load wait 5s
			remove .hidden from #notebook_start_button
			then if <#notebook_resume_button/> is not empty
				remove .hidden from #notebook_resume_button
			end
			then remove me">
		{#
		<svg class="mr-1" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
			viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M21,2a8.9977,8.9977,0,0,0-8.6119,11.6118L2,24v6H8L18.3881,19.6118A9,9,0,1,0,21,2Zm0,16a7.0125,7.0125,0,0,1-2.0322-.3022L17.821,17.35l-.8472.8472-3.1811,3.1812L12.4141,20,11,21.4141l1.3787,1.3786-1.5859,1.586L9.4141,23,8,24.4141l1.3787,1.3786L7.1716,28H4V24.8284l9.8023-9.8023.8472-.8474-.3473-1.1467A7,7,0,1,1,21,18Z">
			</path>
			<circle cx="22" cy="10" r="2"></circle>
		</svg>
		#}
		Cooling off
	</a>
	{% endif %}
	<a id="notebook_start_button"
		class="lg:w-[300px] w-[220px] h-[50px] py-2 flex justify-center items-center relative cb_button cursor-pointer {% if cooloff %} hidden{% endif %}"
		hx-post="/notebook_manage/hx/create{% if pvc_exists %}?clear{% endif %}" hx-target="#notebook_panel"
		hx-trigger="click" hx-swap="innerHTML" tabindex="0"
		hx-confirm="You are about to spin up a new instance of a workbench">
		{#
		<svg class="mr-1" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
			viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M21,2a8.9977,8.9977,0,0,0-8.6119,11.6118L2,24v6H8L18.3881,19.6118A9,9,0,1,0,21,2Zm0,16a7.0125,7.0125,0,0,1-2.0322-.3022L17.821,17.35l-.8472.8472-3.1811,3.1812L12.4141,20,11,21.4141l1.3787,1.3786-1.5859,1.586L9.4141,23,8,24.4141l1.3787,1.3786L7.1716,28H4V24.8284l9.8023-9.8023.8472-.8474-.3473-1.1467A7,7,0,1,1,21,18Z">
			</path>
			<circle cx="22" cy="10" r="2"></circle>
		</svg>
		#}
		{{ launch_icon | safe }}Create Workbench
	</a>
	{% if pvc_exists %}
	<a id="notebook_resume_button"
		class="lg:w-[300px] w-[220px] h-[50px] py-2 mt-4 flex justify-center items-center relative cb_button_secondary cursor-pointer {% if cooloff %} hidden{% endif %}"
		hx-post="/notebook_manage/hx/create" hx-target="#notebook_panel" hx-trigger="click" hx-swap="innerHTML"
		tabindex="0" hx-confirm="You are about to resume an instance of a workbench">
		{#
		<svg class="mr-1" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
			viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M21,2a8.9977,8.9977,0,0,0-8.6119,11.6118L2,24v6H8L18.3881,19.6118A9,9,0,1,0,21,2Zm0,16a7.0125,7.0125,0,0,1-2.0322-.3022L17.821,17.35l-.8472.8472-3.1811,3.1812L12.4141,20,11,21.4141l1.3787,1.3786-1.5859,1.586L9.4141,23,8,24.4141l1.3787,1.3786L7.1716,28H4V24.8284l9.8023-9.8023.8472-.8474-.3473-1.1467A7,7,0,1,1,21,18Z">
			</path>
			<circle cx="22" cy="10" r="2"></circle>
		</svg>
		#}
		Resume Workbench
	</a>
	{% endif %}
</div>
