{% extends 'base.html' %}

{% block nav %}
<nav id="navigation" class="bg-[#f4f4f4] dark:bg-[#121619] sticky top-0 w-full z-10 drop-shadow-md flex-none">
	<div class="mx-auto min-w-full px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-12 items-center justify-between">
			<div class="flex items-center md:hidden">
				{# Mobile menu button #}
				<button id="menu_button" type="button"
					class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-hidden focus:ring-2 focus:ring-inset focus:ring-white"
					aria-controls="mobile-menu" aria-expanded="false">
					<span class="absolute -inset-0.5"></span>
					<span class="sr-only">Open main menu</span>
					{# menu closed #}
					<svg id="menu_open" class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
						stroke="currentColor" aria-hidden="true" data-slot="icon">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
					{# menu opened #}
					<svg id="menu_close" class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
						stroke="currentColor" aria-hidden="true" data-slot="icon">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
			<div class="flex flex-1 min-h-full items-center justify-center sm:items-stretch md:justify-start">
				<div class="flex shrink-0 items-center">
					<span class="text-lg ml-2">{{ app_name }}</span>
				</div>
			</div>
			<div
				class="flex relative dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6] min-h-full items-center justify-center px-2 cursor-pointer">
				<span class="sr-only">View notifications</span>
				<svg class="size-6 animate-bounce" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32"
					height="32" viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M28.7071,19.293,26,16.5859V13a10.0136,10.0136,0,0,0-9-9.9492V1H15V3.0508A10.0136,10.0136,0,0,0,6,13v3.5859L3.2929,19.293A1,1,0,0,0,3,20v3a1,1,0,0,0,1,1h7v.7768a5.152,5.152,0,0,0,4.5,5.1987A5.0057,5.0057,0,0,0,21,25V24h7a1,1,0,0,0,1-1V20A1,1,0,0,0,28.7071,19.293ZM19,25a3,3,0,0,1-6,0V24h6Zm8-3H5V20.4141L7.707,17.707A1,1,0,0,0,8,17V13a8,8,0,0,1,16,0v4a1,1,0,0,0,.293.707L27,20.4141Z">
					</path>
					<title>Notification</title>
				</svg>
			</div>
			<div class="flex relative dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6] ml-2 min-h-full items-center justify-center px-2 cursor-pointer"
				hx-post="hx/logout">
				<span class="sr-only">Logout</span>
				<svg class="size-6" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
					viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M6,30H18a2.0023,2.0023,0,0,0,2-2V25H18v3H6V4H18V7h2V4a2.0023,2.0023,0,0,0-2-2H6A2.0023,2.0023,0,0,0,4,4V28A2.0023,2.0023,0,0,0,6,30Z">
					</path>
					<path
						d="M20.586 20.586L24.172 17 10 17 10 15 24.172 15 20.586 11.414 22 10 28 16 22 22 20.586 20.586z">
					</path>
					<title>Logout</title>
				</svg>
			</div>
		</div>
	</div>
</nav>

<div class="flex flex-1 grid-cols-2 mx-auto min-w-full px-2 sm:px-6 lg:px-8 relative">
	<div class="flex-none fixed w-64 pt-4 bg-[#f4f4f4] dark:bg-[#343a3f] md:block hidden">
		<div class="flex flex-col grid-cols-1 grid-rows-2 min-h-[calc(100vh-3rem)]">
			<div id="menu_big" class="flex-none">
				<a href="#" id="big_profile"
					class="block py-2 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6] menu_selected">
					<div class="flex">
						<svg preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
							viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Zm0,8a3,3,0,1,1,3-3A3.0034,3.0034,0,0,1,16,16Z">
							</path>
							<path
								d="M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2ZM10,26.3765V25a3.0033,3.0033,0,0,1,3-3h6a3.0033,3.0033,0,0,1,3,3v1.3765a11.8989,11.8989,0,0,1-12,0Zm13.9925-1.4507A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z">
							</path>
							<title>User avatar</title>
						</svg>
						<p class="self-center grow pl-4">Profile</p>
					</div>
				</a>
				{% if user != "pending" %}
				<a href="#" id="big_models" class="block py-2 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">
					<div class="flex">
						<svg preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
							viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M19 21v-2h1v-7h-1v-2h4v2h-1v7h1v2h-4zM15.5005 21h2l-3.5005-11h-3l-3.4966 11h1.9988l.6018-2h4.7781l.6184 2zM10.7058 17l1.6284-5.4111.2559-.0024 1.6736 5.4136h-3.5579z">
							</path>
							<path d="M32,32H0V0h32v32ZM2,30h28V2H2v28Z"></path>
						</svg>
						<p class="self-center grow pl-4">Available Models</p>
					</div>
				</a>
				<a href="#" id="big_token" class="block py-2 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">
					<div class="flex">
						<svg preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
							viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M21,2a8.9977,8.9977,0,0,0-8.6119,11.6118L2,24v6H8L18.3881,19.6118A9,9,0,1,0,21,2Zm0,16a7.0125,7.0125,0,0,1-2.0322-.3022L17.821,17.35l-.8472.8472-3.1811,3.1812L12.4141,20,11,21.4141l1.3787,1.3786-1.5859,1.586L9.4141,23,8,24.4141l1.3787,1.3786L7.1716,28H4V24.8284l9.8023-9.8023.8472-.8474-.3473-1.1467A7,7,0,1,1,21,18Z">
							</path>
							<circle cx="22" cy="10" r="2"></circle>
						</svg>
						<p class="self-center grow pl-4">Token</p>
					</div>
				</a>
				{% if notebook %}
				<a href="#" id="big_notebook" class="block py-2 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">
					<div class="flex">
						<svg preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
							viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path d="M19 10H26V12H19zM19 15H26V17H19zM19 20H26V22H19z"></path>
							<path
								d="M28,5H4A2.002,2.002,0,0,0,2,7V25a2.0023,2.0023,0,0,0,2,2H28a2.0027,2.0027,0,0,0,2-2V7A2.0023,2.0023,0,0,0,28,5ZM4,7H15V25H4ZM17,25V7H28l.002,18Z">
							</path>
						</svg>
						<p class="self-center grow pl-4">Notebook</p>
					</div>
				</a>
				{% endif %}
				{% if user == "system_admin" %}
				<a href="#" id="big_groups" class="block py-2 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">
					<div class="flex">
						<svg preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
							viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M8 19H6V17a3.0033 3.0033 0 013-3h5v2H9a1.0011 1.0011 0 00-1 1zM12 13a4 4 0 114-4A4.0045 4.0045 0 0112 13zm0-6a2 2 0 102 2A2.0021 2.0021 0 0012 7zM20 20a4 4 0 114-4A4.0045 4.0045 0 0120 20zm0-6a2 2 0 102 2A2.0021 2.0021 0 0020 14zM26 26H24V24a1.0011 1.0011 0 00-1-1H17a1.0011 1.0011 0 00-1 1v2H14V24a3.0033 3.0033 0 013-3h6a3.0033 3.0033 0 013 3z">
							</path>
							<path
								d="M8 30H4a2.0021 2.0021 0 01-2-2V4A2.0021 2.0021 0 014 2H8V4H4V28H8zM28 30H24V28h4V4H24V2h4a2.0021 2.0021 0 012 2V28A2.0021 2.0021 0 0128 30z">
							</path>
						</svg>
						<p class="self-center grow pl-4">Group Management</p>
					</div>
				</a>
				<a href="#" id="big_users" class="block py-2 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">
					<div class="flex">
						<svg preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
							viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M30 30H28V25a5.0057 5.0057 0 00-5-5V18a7.0078 7.0078 0 017 7zM22 30H20V25a5.0059 5.0059 0 00-5-5H9a5.0059 5.0059 0 00-5 5v5H2V25a7.0082 7.0082 0 017-7h6a7.0082 7.0082 0 017 7zM20 2V4a5 5 0 010 10v2A7 7 0 0020 2zM12 4A5 5 0 117 9a5 5 0 015-5m0-2a7 7 0 107 7A7 7 0 0012 2z">
							</path>
							<title>User multiple</title>
						</svg>
						<p class="self-center grow pl-4">User Management</p>
					</div>
				</a>
				{% endif %}
				{% if user == "group_admin" %}
				<a href="#" id="big_members" class="block py-2 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">
					<div class="flex">
						<svg preserveAspectRatio="xMidYMid meet" fill="currentColor" width="32" height="32"
							viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M8 19H6V17a3.0033 3.0033 0 013-3h5v2H9a1.0011 1.0011 0 00-1 1zM12 13a4 4 0 114-4A4.0045 4.0045 0 0112 13zm0-6a2 2 0 102 2A2.0021 2.0021 0 0012 7zM20 20a4 4 0 114-4A4.0045 4.0045 0 0120 20zm0-6a2 2 0 102 2A2.0021 2.0021 0 0020 14zM26 26H24V24a1.0011 1.0011 0 00-1-1H17a1.0011 1.0011 0 00-1 1v2H14V24a3.0033 3.0033 0 013-3h6a3.0033 3.0033 0 013 3z">
							</path>
							<path
								d="M8 30H4a2.0021 2.0021 0 01-2-2V4A2.0021 2.0021 0 014 2H8V4H4V28H8zM28 30H24V28h4V4H24V2h4a2.0021 2.0021 0 012 2V28A2.0021 2.0021 0 0128 30z">
							</path>
						</svg>
						<p class="self-center grow pl-4">Member Management</p>
					</div>
				</a>
				{% endif %}
				{% endif %}
			</div>
			<div class="flex flex-col grow justify-end items-center">
				<p class="pb-4 text-xs">Powered by {{ application }} {{ version }}</p>
			</div>
		</div>
	</div>

	<div class="flex-1 pl-2 md:pl-64 pt-4">
		<div class="px-3">
			{% block main %}{% endblock main %}
		</div>
	</div>
</div>
<div id="menu"
	class="fixed flex-col left-0 top-12 bg-[#f4f4f4]/70 dark:bg-[#121619]/70 min-h-96 min-w-52 rounded-br-md backdrop-blur-xs drop-shadow-md hidden md:hidden">
	<a href="#" id="mobile_profile"
		class="block py-3 px-4 mobile_menu_selected dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">Profile</a>
	{% if user != "pending" %}
	<a href="#" id="mobile_models" class="block py-3 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">Available
		Models</a>
	<a href="#" id="mobile_token" class="block py-3 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">Token</a>
	{% if notebook %}
	<a href="#" id="mobile_notebook" class="block py-3 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">Notebook</a>
	{% endif %}
	{% if user == "system_admin" %}
	<a href="#" id="mobile_groups" class="block py-3 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">Group
		Management</a>
	<a href="#" id="mobile_users" class="block py-3 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">User Management</a>
	{% endif %}
	{% if user == "group_admin" %}
	<a href="#" id="mobile_members" class="block py-3 px-4 dark:hover:bg-[#4d5358] hover:bg-[#c6c6c6]">Member
		Management</a>
	{% endif %}
	{% endif %}
	<div class="grow flex flex-col justify-end">
		<p class="text-xs self-center pb-0.5">Powered by OpenBridge v0.1.0</p>
	</div>
</div>
{% endblock nav %}
