{% extends "base_user.html" %}

{% block body %}

<div>
	<p class="soft-text">Welcome, {{name}}</p>
  <p>Thank you for registering </p> 
	<p> If you are the group admin, please send your group name and your IBM ID (email) to openad.toolkit@ibm.com </p>
  <p> Other wise, please reach out to your group admin, he can add you to the group and you will have access to your group subscriptions  </p>
</div>

{% block tabbed %}
{% block tabselection %}
{% endblock tabselection %}
{% block tabcontents %}
{% endblock tabcontents %}
{% endblock tabbed %}

{% endblock body %}
