{% extends "base_user.html" %}

{% block body %}
<div class="text-center text-break">
	<p class="soft-text">Welcome, {{name}}</p>
	<br>
	<div class="section-wrap">
		<div class="section-wrap-h">
			
			<!-- Group -->
			<div class="display-item">
				<div>Your group</div>
				{% if group == "" %}
				<div class="softer">-</div>
				{% else %}
				<div>{{group}}</div>
				{% endif %}
			</div>
			
			<!-- Role -->
			<div>
				<div class="display-item">
					<div>Your role</div>
					<div>{% block usertype %}{% endblock usertype %}</div>
				</div>
			</div>

		</div>

		

		<div>
		{% block function %}
		{% endblock function %}
		</div>

	</div>
	
	{% block tabbed %}
		{% block tabselection %}
		{% endblock tabselection %}
		{% block tabcontents %}
		{% endblock tabcontents %}
	{% endblock tabbed %}
</div>
{% endblock body %}
