{% extends "base.html" %}

{% block title %}Pulse{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/pulse.css" />
{% endblock head %}

{% block body %}
<h1>Pulse</h1>
<p>Check the service status of the Accelerated Discovery platform.</p>
<div id="status">
</div>
<cds-button id="btn-status" hx-get="/pulse/status" hx-target="#status" hx-swap="innerHTML" onclick="setButtonLoading(event)"><span class="btn-text">Check status</span><span class="loading-ellipse"></span></cds-button>
{% endblock body %}

{% block script %}
<script>
	document.addEventListener('htmx:afterRequest', updateButtonText);

	// Set button loading state
	function setButtonLoading(e) {
		e.currentTarget.querySelector('.loading-ellipse').style.display = 'block'
	}

	// Update button text after request
	function updateButtonText() {
		document.querySelector('#btn-status .btn-text').innerHTML = 'Refresh status'
		document.querySelector('#btn-status .loading-ellipse').style.display = 'none'
		// document.body.focus()
		document.querySelector('#btn-status').blur()
	}
</script>
{% endblock script %}