{% extends "admin.html" %}
{% block title %}Welcome Admin!{% endblock title %}
{% block htmx %}
{{ super() }}
<script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
{% endblock htmx %}
{% block usertype %}System Administrator{% endblock usertype %}
{% block admin_message %}
<figure>
	<blockquote class="blockquote">
		<p class="lead">All your base are belong to us.</p>
	</blockquote>
	<figcaption class="blockquote-footer">
		CATS
	</figcaption>
</figure>
{% endblock admin_message %}
{% block tabselection %}
<li class="nav-item">
	<a class="nav-link active disabled" aria-current="page" hx-get="system_admin/hx/tab?tab=Profile" href="#" role="tab" aria-controls="tab-contents" aria-selected="true">Profile</a>
</li>
<li class="nav-item">
	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="tab" aria-expanded="false" aria-selected="false">Group</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item innertab" href="#" hx-get="system_admin/hx/tab?tab=GroupCreate">Create</a></li>
		<li><a class="dropdown-item innertab" href="#" hx-get="system_admin/hx/tab?tab=GroupModify">Modify</a></li>
	</ul>
</li>
<li class="nav-item">
	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="tab" aria-expanded="false" aria-selected="false">User</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item innertab" href="#" hx-get="system_admin/hx/tab?tab=UserModify">Modify</a></li>
		<li><a class="dropdown-item innertab" href="#" hx-get="system_admin/hx/tab?tab=UserDelete">Delete</a></li>
	</ul>
</li>
<li class="nav-item">
	<a class="nav-link" href="#" role="tab" aria-controls="tab-contents" hx-post="hx/logout" aria-selected="false">Logout</a>
</li>
{% endblock tabselection %}
