{% extends "admin.html" %}
{% block title %}Welcome Admin!{% endblock title %}
{% block usertype %}System Admin{% endblock usertype %}
{% block admin_message %}
<p class="lead">CATS: All your base are belong to us.</p>
{% endblock admin_message %}
{% block tabselection %}
<li class="nav-item">
	<a class="nav-link active disabled" aria-current="page" hx-get="system_admin/hx/tab?tab=Profile" href="#" role="tab" aria-controls="tab-contents" aria-selected="true">Profile</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#" role="tab" aria-controls="tab-contents" hx-get="system_admin/hx/tab?tab=Group" aria-selected="false">Group</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#" role="tab" aria-controls="tab-contents" hx-get="system_admin/hx/tab?tab=User" aria-selected="false">User</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#" role="tab" aria-controls="tab-contents" hx-post="hx/logout" aria-selected="false">Logout</a>
</li>
{% endblock tabselection %}
