<h1>Modify Group</h1>
<cds-form-group style="display:none">
	<cds-stack gap="7">
		<cds-text-input label="Subject name" name="name" required></cds-text-input>
		
		<!-- <cds-multi-select title-text="Multiselect title" label="Select models" required>
			{% for item in items %}
				<cds-multi-select-item value="{{ item }}">{{ item }}</cds-multi-select-item>
			{% endfor %}
		</cds-multi-select> -->

		<cds-text-input label="Last updated by" name="last_updated_by" readonly value="{{ subject }}"></cds-text-input>
		
		<cds-button hx-patch="/portal/system_admin/hx/group" hx-target="#response" hx-target-400="#response" hx-swap="innerhtml" hx-headers='{"Content-Type": "application/x-www-form-urlencoded"}'>Submit</cds-button>
	</cds-stack>
</cds-form-group>

<!-- <br>
- - -
<br> -->

<div hx-ext="response-targets">
	<form id="form-group-form">
		<!-- Subject name -->
		<cds-text-input label="Subject name" name="name" required></cds-text-input>

		<!-- Subscriptions -->
		<cds-multi-select title-text="Subscriptions" label="Select models" name="subscriptions" required>
			{% for item in items %}
				<cds-multi-select-item value="{{ item }}">{{ item }}</cds-multi-select-item>
			{% endfor %}
		</cds-multi-select>

		<!-- Last updated by  -->
		<cds-text-input label="Last updated by" name="last_updated_by" readonly value="{{ subject }}"></cds-text-input>

		<!-- Submit -->
		<cds-button type="submit" hx-patch="/portal/system_admin/hx/group" hx-target="#response" hx-target-400="#response" hx-swap="innerhtml">submit</cds-button>
	</form>
	<div id="response">...</div>
</div>
