{% extends "portal.html" %}

{% block title %}OpenAD Portal | System Admin Profile{% endblock title %}

{% block htmx %}
{{ super() }}
<script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
{% endblock htmx %}

{% block usertype %}
System Administrator
{% endblock usertype %}

{% block usertype_message %}
As a system admin you can manage users and groups.
{% endblock usertype_message %}

{% block models %}{% endblock models %}

{% block tabselection %}
<style>
/* .cds-ce-demo-devenv--tab-panels{flex:1;align-self:stretch;padding:1rem} */
</style>

<cds-tabs value="groups">
	<cds-tab id="tab-groups" target="panel-groups" value="groups">
		Groups
	</cds-tab>
	<cds-tab id="tab-users" target="panel-users" value="users">
		Users
	</cds-tab>
</cds-tabs>

<div class="cds-ce-demo-devenv--tab-panels">
	<div id="panel-groups" role="tabpanel" aria-labelledby="tab-groups" hidden="">
		<div>
			<p class="soft-text">Groups</p>
			<div class="list-table">
				<div class="list-table-item">Lorem</div>
				<div class="list-table-item">Foobar</div>
				<div class="list-table-item">Test</div>
			</div>
		</div>
	</div>
	<div id="panel-users" role="tabpanel" aria-labelledby="tab-users" hidden="">
		<div>
			<p class="soft-text">Users</p>
			<div class="list-table">
				<div class="list-table-item">JohnDoe / john.doe@gmail.com</div>
				<div class="list-table-item">JohnDoe / john.doe@gmail.com</div>
				<div class="list-table-item">JohnDoe / john.doe@gmail.com</div>
			</div>
		</div>
	</div>
  </div>

<br><br>
<b>Profile:</b>
<a href="#" hx-get="system_admin/hx/tab?tab=GroupCreate">Create</a> /
<a href="#" hx-get="system_admin/hx/tab?tab=GroupModify">Modify</a>

<br><br>
<b>User:</b>
<a href="#" hx-get="system_admin/hx/tab?tab=UserModify">Modify</a> /
<a href="#" hx-get="system_admin/hx/tab?tab=UserDelete">Delete</a>

<br><br>
{% endblock tabselection %}

{% block tabcontents %}
{% include "token.html" %}
{% endblock tabcontents %}
