@import "tailwindcss";

/**
 * Layout
 */

.cb-grid {
	min-height: 100%;
	@apply grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1;
}

/**
 * Base styles
 */

body {
	@apply text-[var(--cb-main)] dark:text-[var(--cb-soft-bg)];
}
#main {
	@apply md:pl-65;
}

@layer base {
	p {
		@apply mb-2;
	}
	/* *,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-[var(--cb-soft-border)];
	} */
}

.border,
.border-t,
.border-b,
.border-l,
.border-r {
	border-color: rgba(0, 0, 0, 0.1);
}

/**
 * Navigation
 */

/* .menu_selected {
	@apply bg-[rgba(0,0,0,.08)] dark:bg-[rgba(255,255,255,.1)] border-l-2 border-[var(--cb-blue)];
} */

.mobile_menu_selected {
	@apply border-l-4 border-[var(--cb-blue)];
}

/**
 * Various
 */

.htmx-indicator {
	opacity: 0;
}
.htmx-request .htmx-indicator {
	opacity: 1;
	transition: opacity 200ms ease-in;
}
.htmx-request.htmx-indicator {
	opacity: 1;
	transition: opacity 200ms ease-in;
}
