@import "tailwindcss";

/**
 * Base styles
 */



body {
	@apply text-[var(--cb-main)] dark:text-[var(--cb-soft-bg)];
}

@layer base {
	p {
		@apply mb-2;
	}
	/* *,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-[var(--cb-soft-border)];
	} */
}

/**
 * Navigation
 */

/* .menu_selected {
	@apply bg-[rgba(0,0,0,.08)] dark:bg-[rgba(255,255,255,.1)] border-l-2 border-[var(--cb-blue)];
} */

.mobile_menu_selected {
	@apply border-l-4 border-[var(--cb-blue)];
}

/**
 * Various
 */

.htmx-indicator {
	opacity: 0;
}
.htmx-request .htmx-indicator {
	opacity: 1;
	transition: opacity 200ms ease-in;
}
.htmx-request.htmx-indicator {
	opacity: 1;
	transition: opacity 200ms ease-in;
}
