/* Carbon color variables are stupid. We siplify them */
body {
	--error: var(--cds-support-error);
	--success: var(--cds-support-success);
	--soft-text: var(--cds-slug-background);
	--softer-text: var(--cds-layer-accent-active-01);
	--border: var(--cds-border-subtle-00);
	--lightblue: var(--cds-ai-border-start);
	--blue: var(--cds-interactive);
	--fs-small: 0.8rem;
	--marg-l: 3rem;
	--marg-m: 1rem;
	--marg-s: 0.5rem;
}

body {
	background: #fafafa;
	margin: var(--marg-l);
	line-height: 1.3rem;
}

h1 {
	margin-bottom: 1.5rem;
}
h2,
h3 {
	margin-bottom: var(--marg-m);
}
.pre-h1 {
	color: var(--soft-text);
}

a.incog {
	text-decoration: none;
	color: inherit;
}
a.delete {
	text-decoration: none;
	color: var(--error);
}

b {
	font-weight: 600;
}
p {
	margin-bottom: var(--marg-s);
}
small,
.small {
	font-size: var(--fs-small);
}

/* Form elements */
.cds-group {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 400px;
}
.err-msg {
	color: var(--error);
	font-size: var(--fs-small);
}

/* Vertical sections */
.section-wrap {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
/* .sections-wrap > * {
	border: solid 1px pink;
} */

/**
 * Style shortcuts
 */
.soft {
	color: var(--soft-text);
}
.softer {
	color: var(--softer-text);
}

/**
 * UI Elements 
 */

/* Horizontal sections */
.section-wrap-h {
	display: flex;
	flex-direction: row;
	gap: var(--marg-l);
}

/* Display items */
.soft-text,
.display-item > div:first-child {
	font-size: var(--fs-small);
	color: var(--soft-text);
}
.display-text,
.display-item > div:last-child {
	font-size: 2rem;
	margin-bottom: var(--marg-s);
}

/* Key-value pairs */
.key-val-wrap {
	display: flex;
	flex-direction: column;
}
.key-val-wrap .key {
	font-size: var(--fs-small);
	color: var(--soft-text);
	margin-bottom: 0.2rem;
}
.key-val-wrap .val {
	margin-bottom: var(--marg-m);
}

/* List table */
.list-table {
	background: #fff;
	border: solid 1px var(--border);
	border-bottom: none;
	max-width: 400px;
}
.list-table .list-table-item {
	height: 2rem;
	line-height: 1.9rem;
	border-bottom: solid 1px var(--border);
	padding: 0 var(--marg-s);
	position: relative;
}
.list-table .btn-wrap {
	display: flex;
	display: none;
	flex-direction: row-reverse;
	gap: 0.3rem;
	position: absolute;
	right: var(--marg-s);
	top: 50%;
	margin-top: -0.6rem;
	font-size: var(--fs-small);
	line-height: 1.2rem;
	height: 1.2rem;
}
.list-table .btn-wrap a {
	background: var(--lightblue);
	color: #fff;
	border-radius: 2px;
	padding: 0 0.3rem;
	text-decoration: none;
}
.list-table .btn-wrap a.remove {
	background: #ee9095;
}

/* Loading state ellipsis */
.loading-ellipse::after {
	content: '';
	animation: ellipsis 800ms infinite;
}
@keyframes ellipsis {
	0% {
		content: '';
	}
	25% {
		content: '.';
	}
	50% {
		content: '..';
	}
	75% {
		content: '...';
	}
}

/**
 * Carbon overrides
 */
cds-button-set > cds-button {
	inline-size: auto !important;
}

/* Hover states */
@media (hover: hover) {
	.list-table .list-table-item:hover .btn-wrap {
		display: flex;
	}
	.list-table .btn-wrap a:hover {
		background: var(--blue);
		color: #fff;
	}
	.list-table .btn-wrap a.remove:hover {
		background: var(--error);
	}
}
