@import "tailwindcss";

@source "../src/**/*.rs";
@source "../index.html";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	body {
		@apply flex flex-col min-h-screen bg-[#ffffff] dark:bg-[#21272a] text-slate-900 dark:text-slate-200;
	}
}

.menu_selected {
	border-left-style: var(--tw-border-style);
	border-left-width: 2px;
	border-color: #4589ff;
	background-color: #c6c6c6;
	&:where(.dark, .dark *) {
		background-color: #4d5358;
	}
}

.mobile_menu_selected {
	border-left-style: var(--tw-border-style);
	border-left-width: 4px;
	border-color: #4589ff;
}

.cb_button {
	background-color: #0050e6;
	color: var(--color-slate-200);
	&:hover {
		@media (hover: hover) {
			background-color: var(--color-blue-700);
		}
	}
	&:focus {
		--tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
		box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
		--tw-ring-color: #0050e6;
	}
	&:active {
		background-color: #002d9c;
	}
	&:where(.dark, .dark *):focus {
		--tw-ring-color: var(--color-white);
		--tw-outline-style: none;
		outline-style: none;
	}
}
