[open_ad_workbench]
name = "OpenAD Workbench"
url = "quay.io/ibmdpdev/openad_workbench_prod:latest"
pull_policy = "Always"
working_dir = "/opt/app-root/src"
volume_mnt_path = "/opt/app-root/src"
notebook_env = [
	"--ServerApp.token=''",
	"--ServerApp.password=''",
	"--ServerApp.notebook_dir='/opt/app-root/src'",
	"--ServerApp.quit_button=False",
	"--LabApp.default_url='/lab/tree/start_menu.ipynb'",
	"--ServerApp.default_url='/lab/tree/start_menu.ipynb'",
	"--ServerApp.trust_xheaders=True",
	# base-url is taken care by bridge
]
secret = "ibmdpdev-openad-pull-secret"
start_up_url = "lab/tree/start_menu.ipynb"
max_idle_time = 86400
cpu_heavy = "4"
mem_heavy = "32Gi"
[open_ad_workbench.env]
PROXY_URL = "https://open.accelerate.science/proxy"

[datascience_notebook]
name = "Data Science Notebook"
url = "jupyter/base-notebook:latest"
pull_policy = "IfNotPresent"
working_dir = "/home/jovyan"
volume_mnt_path = "/home/jovyan/"
notebook_env = [
	"--ServerApp.token=''",
	"--ServerApp.password=''",
	"--ServerApp.notebook_dir='/home/jovyan'",
	"--ServerApp.quit_button=False",
	"--ServerApp.disable_check_xsrf=True",
	"--ServerApp.allow_origin='*'",
	# base-url is taken care by bridge
]
max_idle_time = 86400
cpu_heavy = "4"
mem_heavy = "8Gi"
[datascience_notebook.env]
PROXY_URL = ""
