{# STUFF #}
<div hx-ext="response-targets">
	<div class="container mt-3" id="response-div">
		<h1 class="lead">Modify user group {{ group_name }}</h1>
		<form id="form-group-form" class="text-start" hx-patch="/portal/group_admin/hx/user" hx-target="#response-div" hx-target-400="#response" hx-swap="outerHTML">
			<div class="form-group">
				<label for="email" class="fs-6 mx-2">User's email</label>outerHTML
				<input type="text" id="email" name="email" class="form-control" required>
			</div>
			<div class="form-group my-3">
				<div class="form-group">
					<input class="form-check-input" type="radio" name="modify_user" id="adduser" value="add">
					<label class="form-check-label" for="adduser">
						Add to group
					</label>
				</div>
				<div class="form-group">
					<input class="form-check-input" type="radio" name="modify_user" id="removeuser" value="remove">
					<label class="form-check-label" for="removeuser">
						Remove from group
					</label>
				</div>
			</div>
			<div class="form-group mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Members in your group</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled>{{ members }}</textarea>
			</div>
			<div class="form-group mt-3">
				<label for="group_name" class="fs-6 mx-2">Group</label>
				<input type="text" id="group_name" name="group_name" class="form-control" value="{{ group_name }}" readonly>
			</div>
			<div class="form-group mt-3">
				<label for="last_updated_by" class="fs-6 mx-2">Last Updated By</label>
				<input type="text" id="last_updated_by" name="last_updated_by" class="form-control" value="{{ subject }}" readonly>
			</div>
			<button type="submit" class="btn btn-primary mt-3">submit</button>
		</form>
		<div id="response" class="mt-3"></div>
	</div>
</div>
