{% extends "base.html" %}
{% block title %}Page not found{% endblock title %}
{% block htmx %}
{% endblock htmx %}
{% block body %}
	<div class="container" style="height:100vh">
		<div class="row h-100 text-center">
			<div class="col"></div>
			<div class="col d-flex justify-content-center flex-column lead">
				<h1>Page not found</h1>
				<!-- <img src="https://png.pngtree.com/png-vector/20220710/ourmid/pngtree-robot-with-broken-leg-in-plaster-png-image_5693680.png" alt="404" class="img-responsive"> -->
				<div class="d-flex flex-column justify-content-center">
					<img style="max-width:500px" src="https://static.vecteezy.com/system/resources/thumbnails/024/405/934/small_2x/icon-tech-error-404-icon-isolated-png.png" alt="404" class="img-responsive">
				</div>
				<p>Sorry, we couldn't find the page you were looking for.</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
{% endblock body %}
