{% extends "base.html" %}
{% block body %}
  <div class="container d-flex flex-column w-100" style="height:100vh">
    <header class="mb-auto"></header>
    <main class="mx-auto">
      <div class="text-center text-break">
		  <h1 >Welcome, {{name}}!</h1>
        <p class="lead">Great day we are having!</p>
      {% block admin_message %}
      {% endblock admin_message %}
      {% block tabbed %}
        <div id="tabs" hx-target="#tab-contents" role="tablist"
             hx-on-htmx-after-on-load="let currentTab = document.querySelector('[aria-selected=true]');
                                       currentTab.setAttribute('aria-selected', 'false');
                                       currentTab.classList.remove('active');
                                       currentTab.classList.remove('disabled');
                                       let newTab = event.target;
                                       newTab.setAttribute('aria-selected', 'true');
                                       newTab.classList.add('active');
                                       newTab.classList.add('disabled');
                                       ">
          <ul class="nav nav-tabs">
            {% block tabselection %}
            {% endblock tabselection %}
          </ul>
        </div>
        <div id="tab-contents" role="tabpanel">
          <br>
          {% if group == "" %}
          <p class="lead">You are currently not part of any group. Contact your Group Admin to have you added.</p>
          {% else %}
          <p class="lead">You are part of group(s): {{group}}.</p>
          <p class="lead">Consult with you group administrator on what inference models you have access to.</p>
          {% endif %}
        </div>
      {% endblock tabbed %}
      </div>
    </main>
    <footer class="mt-auto"></footer>
  </div>
{% endblock body %}
