{# This is the base template inherited by all templates in the hierarchy. #}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}{% endblock title %}</title>
	<link rel="icon" href="/static/img/favicon.svg" />
	<link rel="stylesheet" href="/static/css/output.css" />
	{% block htmx %}
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
	<script src="/static/js/main.js"></script>
	{% endblock htmx %}

	{% block head %}
	{% endblock head %}
</head>

<body class="min-h-screen bg-[#ffffff] dark:bg-[#21272a] text-slate-900 dark:text-slate-200">
	{% block body %}
	{% endblock body %}

	{% block script %}
	{% endblock script %}
</body>

<footer>
	<div class="flex justify-center items-center h-16 bg-[#f4f4f4] dark:bg-[#343a3f]">
		<p class="text-sm">© 2021 IBM Corporation</p>
</footer>

</html>
