{# This is the base template inherited by all templates in the hierarchy. #}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}{% endblock title %}</title>
	<link rel="icon" href="/static/img/favicon.svg" />
	<link rel="stylesheet" href="/static/css/output.css" />
	{% block htmx %}
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
	<script src="/static/js/main.js"></script>
	{% endblock htmx %}

	{% block head %}
	{% endblock head %}
</head>

<body class="flex flex-col min-h-screen bg-[#ffffff] dark:bg-[#21272a] text-slate-900 dark:text-slate-200">
	{% block nav %}
	{% endblock nav %}

	{% block body %}
	{% endblock body %}

	{% block footer %}
	<footer>
		<div class="flex justify-center items-center h-14 border-t dark:border-[#4d5358] border-[#e0e0e0]">
			<a class="text-sm" href="https://accelerate.science" target="_blank" rel="noopener noreferrer">Accelerated Discovery</a>
		</div>
	</footer>
	{% endblock footer %}

	{% block script %}
	{% endblock script %}
</body>

</html>
