{% extends "admin.html" %}
{% block title %}Welcome Admin!{% endblock title %}
{% block admin_message %}
  <p class="lead">Welcome System Admin! All base are belong to us!!!</p>
{% endblock admin_message %}
{% block tabselection %}
  <li class="nav-item">
    <a class="nav-link active disabled" aria-current="page" hx-get="group_admin/hx/tab?tab=Profile" href="#" role="tab" aria-controls="tab-contents" aria-selected="true">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" role="tab" aria-controls="tab-contents" hx-get="group_admin/hx/tab?tab=Group" aria-selected="false">Group</a>
  </li>
{% endblock tabselection %}
