{% extends "base.html" %}
{% block title %}Welcome{% endblock title %}
{% block htmx %}
{% endblock htmx %}
{% block body %}
<div class="container py-3" style="height:100vh">
	<header class="pb-3 mb-auto">
		<h1 class="display-5 ps-2 lead text-uppercase bg-light-subtle rounded-2">Guardian</h1>
	</header>
	<div class="row align-items-md-stretch">
		<div class="col-md-8 d-flex">
			<div class="container-fluid py-5 align-self-start">
				<p class="col-md-10 fs-5 lead">Welcome to the Accelerated Discovery Platform. 
				This is Guardian: your gateway to the future of scientific discovery.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="h-100 p-3 text-bg-dark rounded-2 border">
				<h2 class="fw-bold mb-0">What's new</h2>
				<ul class="d-grid gap-4 my-5 list-unstyled small">
					<li class="d-flex gap-4">
						<div>
							<h5 class="mb-0">Stage Launch</h5>
							User portal is now live.
						</div>
					</li>
					<li class="d-flex gap-4">
						<div>
							<h5 class="mb-0">Stage Launch</h5>
							Guardian is now live on stage.
						</div>
					</li>
					<li class="d-flex gap-4">
						<div>
							<h5 class="mb-0">Inferences</h5>
							Five inference models are now available.
						</div>
					</li>
					<li class="d-flex gap-4">
						<div>
							<h5 class="mb-0">IBM Verify</h5>
							IBM Verify is now available for login.
						</div>
					</li>
				</ul>
				<div class="text-center border-top pt-4">
					<a href="/auth/login?ibm">
						<button class="w-50 py-2 mb-2 btn btn-secondary rounded-2" style="min-width:180px" type="submit">
							Log in with IBM ID
						</button>
					</a>
				</div>
				<div class="text-center">
					<a href="/auth/login?w3">
						<button class="w-50 py-2 mb-2 btn btn-secondary rounded-2" style="min-width:180px" type="submit">
							Log in with W3
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="pt-3 mt-3 text-body-secondary border-top text-center">
		<p class="mb-0">v{{version}}</p>
	</footer>
</div>
{% endblock body %}
