<link rel="stylesheet" href="/static/css/nav.css" />
<cds-header aria-label="IBM Platform Name">
	<cds-header-global-action class="logo">{% include 'icons/icn-bee.html' %}</cds-header-global-action>
	<cds-header-name href="javascript:void 0" prefix="IBM">OpenAD Portal</cds-header-name>
	<cds-header-nav menu-bar-label="IBM OpenAD Portal" menu>
		<cds-header-nav-item href="javascript:void 0">Home</cds-header-nav-item>
		<cds-header-nav-item href="javascript:void 0">Profile</cds-header-nav-item>
		<cds-header-nav-item href="javascript:void 0">Token</cds-header-nav-item>
	</cds-header-nav>
</cds-header>
