{% extends "base.html" %}
{% block body %}
<div class="container d-flex flex-column w-100" style="height:100vh">
	<header class="mb-5"></header>
	<main class="mx-5">
		<div class="text-center text-break">
			<h1>
				Welcome,
				<small class="text-body-secondary">{% block usertype %}{% endblock usertype %}!</small>
			</h1>
			<p class="lead">{{name}}, great day we are having!</p>
			{% block admin_message %}
			{% endblock admin_message %}
			{% block user_message %}
			{% endblock user_message %}
			{% block tabbed %}
			<div id="tabs" hx-target="#tab-contents" role="tablist"
				{# Careful here... not the most robust JS #}
				hx-on-htmx-after-on-load="
					let currentTab = document.querySelector('[aria-selected=true]');
					currentTab.setAttribute('aria-selected', 'false');
					currentTab.classList.remove('active');
					currentTab.classList.remove('disabled');
					if (currentTab.classList.contains('innertab')) {
						let innertab = currentTab.parentElement.parentElement.previousElementSibling;
						innertab.classList.remove('active');
					}
					let newTab = event.target;
					newTab.setAttribute('aria-selected', 'true');
					newTab.classList.add('active');
					newTab.classList.add('disabled');
					if (newTab.classList.contains('innertab')) {
						let innertab = newTab.parentElement.parentElement.previousElementSibling;
						innertab.classList.add('active');
					}
				">
				<ul class="nav nav-tabs">
					{% block tabselection %}
					{% endblock tabselection %}
				</ul>
			</div>
			<div id="tab-contents" role="tabpanel" class="w-50 mx-auto">
				{% block tabcontents %}
				{% endblock tabcontents %}
			</div>
			{% endblock tabbed %}
		</div>
	</main>
	<footer class="mt-auto"></footer>
</div>
{% endblock body %}
