{# Profile for every user #}
<link rel="stylesheet" href="/static/css/token.css" />
<div class="text-center text-breaki mt-2">
	{% if group == "" %}
	<p class="lead">You are currently not part of any group. Contact your Group Admin to have you added.</p>
	{% else %}
	<p class="lead">You are part of group: {{group}}.</p>
	<p class="lead">You have access to the following models:</p>
	<ul class="list-group">
		{% for model in subscriptions %}
		<li class="list-group-item">{{model}}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<p class="soft-text">Your access token</p>
	<div id="response-token" onclick="clickToCopy(event)"></div>
	<p class="soft-text">Expiration date: INSERT DATE</p>
	<cds-button hx-get="/portal/hx/token" hx-target="#response-token" hx-swap="innerhtml">Regenerate</cds-button>
</div>
