<cds-button size="sm" hx-get="system_admin/hx/tab?tab=GroupCreate" hx-target="#panel-groups">Create new</cds-button>

<br><br>
<div class="list-table">
	<div class="list-table-item">Lorm<div class="btn-wrap"><a hx-get="system_admin/hx/tab?tab=GroupView" hx-target="#panel-groups">view</a><a hx-get="system_admin/hx/tab?tab=GroupModify" hx-target="#panel-groups">edit</a></div></div>
	<div class="list-table-item">Foob<div class="btn-wrap"><a hx-get="system_admin/hx/tab?tab=GroupView" hx-target="#panel-groups">view</a><a hx-get="system_admin/hx/tab?tab=GroupModify" hx-target="#panel-groups">edit</a></div></div>
	<div class="list-table-item">Test<div class="btn-wrap"><a hx-get="system_admin/hx/tab?tab=GroupView" hx-target="#panel-groups">view</a><a hx-get="system_admin/hx/tab?tab=GroupModify" hx-target="#panel-groups">edit</a></div></div>
</div>

<!-- /group/foo-bar/edit -->