{% if user_type %} 
{% set back_link = 'system_admin/hx/tab?tab=GroupList' %} {# Systems Admin #}
{% set target_panel = 'system_admin_group' %}
{% else %}
{% set back_link = 'group_admin/hx/tab?tab=Main' %}
{% set target_panel = 'group_admin_panel' %}
{% endif %}

<div class="flex flex-row">
	<p class="border-b font-bold">Group View</p>
	<div class="flex flex-row justify-end border-b font-bold flex-grow">
		<a id="group_admin_back" hx-get="{{ back_link }}" hx-target="#{{ target_panel }}"
			class="flex justify-center w-16 text-center cb_button_secondary cursor-pointer" tabindex="0">
			<svg focusable="false" preserveAspectRatio="xMidYMid meet" fill="currentColor" width="20" height="20"
				viewBox="0 0 32 32" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
				<path d="M14 26L15.41 24.59 7.83 17 28 17 28 15 7.83 15 15.41 7.41 14 6 4 16 14 26z"></path>
				<title>Arrow left</title>
			</svg>
		</a>
	</div>
</div>
<table class="w-full text-sm text-left">
	<thead class="text-xs">
		<tr>
			<th scope="col" class="py-3 px-1">
				Name
			</th>
			<th scope="col" class="py-3 px-1">
				Email
			</th>
			<th scope="col" class="py-3 px-1">
				Updated
			</th>
			<th scope="col" class="py-3 px-1">
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		{% if group_members %}
		{% for user in group_members %}
		<tr class="{% if loop.index is even and group_members | length > 1 %}border-t{% endif %}">
			<td class="py-3 px-1">
				{{ user.user_name }}
			</td>
			<td class="py-3 px-1">
				{{ user.email }}
			</td>
			<td class="py-3 px-1" title="{{ user.updated_at }}">
				{{ user.updated_at | truncate(length=16) }}
			</td>
			<td id="_{{ user.sub | slugify }}_remove" class="py-3 px-1">
				<button class="font-medium text-red-600 dark:text-red-500 cursor-pointer" hx-patch="group_admin/hx/user"
					hx-vals='{"email": "{{ user.email }}", "group_name": "{{ group }}", "modify_user": "remove", "last_updated_by": "{{ group_admin }}"}'
					hx-target="#_{{ user.sub | slugify }}_remove" hx-swap="outerhtml"
					hx-confirm="Are you sure you wish to remove {{ user.email }}?">
					Remove
				</button>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="4" class="py-4 px-6 text-center text-gray-500 dark:text-gray-400">
				No users found.
			</td>
		</tr>
		{% endif %}
	</tbody>
</table>
