<cds-button size="sm" href="/member/add">Add member</cds-button>
<br><br>
<div class="list-table">
	<div class="list-table-item">John Doe<div class="btn-wrap"><a href="javascript:void 0" class="remove">remove</a><a href="/user/john-doe">details</a></div></div>
	<div class="list-table-item">Jane Dee<div class="btn-wrap"><a href="javascript:void 0" class="remove">remove</a><a href="/user/john-doe">details</a></div></div>
	<div class="list-table-item">Joe Doer<div class="btn-wrap"><a href="javascript:void 0" class="remove">remove</a><a href="/user/john-doe">details</a></div></div>
</div>