{# Group member view for Group Admins #}
<div id="list-table-wrap">
	<div class="list-table">
		{% for member in group_members %}
		<div class="list-table-item" id="_{{ member.sub | slugify }}_remove">{{ member.email }} ({{ member.user_name }})
			<div class="btn-wrap">
				<a href="" class="remove" hx-patch="group_admin/hx/user"
					hx-vals='{"email": "{{ member.email }}", "group_name": "{{ group }}", "modify_user": "remove", "last_updated_by": "{{ group_admin }}"}'
					hx-target="#_{{ member.sub | slugify }}_remove" hx-swap="outerhtml"
					hx-confirm="Are you sure you wish to remove {{ member.email }}?">remove</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<br>
	<div class="btn-wrap">
		<cds-button size="sm" hx-get="group_admin/hx/tab?tab=Main" hx-target="#list-table-wrap"
			hx-swap="outerhtml">Back</cds-button>
	</div>
</div>
