<!-- <cds-header aria-label="IBM Platform Name">
  <cds-header-menu-button
	button-label-active="Close menu"
	button-label-inactive="Open menu"
  ></cds-header-menu-button>
  <cds-header-name href="javascript:void 0" prefix="IBM">
	Guardian Portal
  </cds-header-name>
  <cds-header-nav menu-bar-label="IBM Guardian Portal" menu>
	<cds-header-nav-item href="javascript:void 0"> Link 1 </cds-header-nav-item>
	<cds-header-nav-item href="javascript:void 0"> Link 2 </cds-header-nav-item>
	<cds-header-nav-item href="javascript:void 0"> Link 3 </cds-header-nav-item>
	<cds-header-menu menu-label="Link 4" trigger-content="Link 4">
	  <cds-header-menu-item href="javascript:void 0">
		Sub-link 1
	  </cds-header-menu-item>
	  <cds-header-menu-item href="javascript:void 0">
		Sub-link 2
	  </cds-header-menu-item>
	  <cds-header-menu-item href="javascript:void 0">
		Sub-link 3
	  </cds-header-menu-item>
	</cds-header-menu>
  </cds-header-nav>
</cds-header>
<cds-side-nav aria-label="Side navigation">
  <cds-side-nav-items>
	<cds-side-nav-menu title="L0 menu">
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	</cds-side-nav-menu>
	<cds-side-nav-menu title="L0 menu">
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	  <cds-side-nav-menu-item active aria-current="page" href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	</cds-side-nav-menu>
	<cds-side-nav-menu title="L0 menu">
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	  <cds-side-nav-menu-item href="www.ibm.com">
		L0 menu item
	  </cds-side-nav-menu-item>
	</cds-side-nav-menu>
	<cds-side-nav-divider></cds-side-nav-divider>
	<cds-side-nav-link href="javascript:void(0)">L0 link</cds-side-nav-link>
	<cds-side-nav-link href="javascript:void(0)">L0 link</cds-side-nav-link>
  </cds-side-nav-items>
</cds-side-nav> -->






<cds-header aria-label="IBM Platform Name" role="banner">
  <cds-header-menu-button button-label-active="Close menu" button-label-inactive="Open menu" collapse-mode="responsive"></cds-header-menu-button>
  <cds-header-name href="javascript:void 0" prefix="IBM">[Platform]</cds-header-name>
  <cds-header-nav menu-bar-label="IBM [Platform]" role="navigation">
	<cds-header-nav-item href="javascript:void 0" role="listitem">Link 1</cds-header-nav-item>
	<cds-header-nav-item href="javascript:void 0" role="listitem">Link 2</cds-header-nav-item>
	<cds-header-nav-item href="javascript:void 0" role="listitem">Link 3</cds-header-nav-item>
	<cds-header-menu menu-label="Link 4" trigger-content="Link 4" role="listitem">
	  <cds-header-menu-item href="javascript:void 0" tabindex="-1" role="listitem">Sub-link 1</cds-header-menu-item>
	  <cds-header-menu-item href="javascript:void 0" tabindex="-1" role="listitem">Sub-link 2</cds-header-menu-item>
	  <cds-header-menu-item href="javascript:void 0" tabindex="-1" role="listitem">Sub-link 3</cds-header-menu-item>
	</cds-header-menu>
  </cds-header-nav>
  <div class="cds--header__global">
	<cds-header-global-action aria-label="Search" tooltip-text="Search" kind="primary" size="lg" tooltip-alignment="" tooltip-position="bottom" type="button">
	  <!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" slot="icon"><!--?lit$67530814$--><path d="M29,27.5859l-7.5521-7.5521a11.0177,11.0177,0,1,0-1.4141,1.4141L27.5859,29ZM4,13a9,9,0,1,1,9,9A9.01,9.01,0,0,1,4,13Z"></path></svg>
	</cds-header-global-action>
	<cds-header-global-action aria-label="Notification" tooltip-text="Notification" kind="primary" size="lg" tooltip-alignment="" tooltip-position="bottom" type="button">
	  <!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" slot="icon"><!--?lit$67530814$--><path d="M28.7071,19.293,26,16.5859V13a10.0136,10.0136,0,0,0-9-9.9492V1H15V3.0508A10.0136,10.0136,0,0,0,6,13v3.5859L3.2929,19.293A1,1,0,0,0,3,20v3a1,1,0,0,0,1,1h7v.7768a5.152,5.152,0,0,0,4.5,5.1987A5.0057,5.0057,0,0,0,21,25V24h7a1,1,0,0,0,1-1V20A1,1,0,0,0,28.7071,19.293ZM19,25a3,3,0,0,1-6,0V24h6Zm8-3H5V20.4141L7.707,17.707A1,1,0,0,0,8,17V13a8,8,0,0,1,16,0v4a1,1,0,0,0,.293.707L27,20.4141Z"></path></svg>
	</cds-header-global-action>
	<cds-header-global-action aria-label="App Switcher" tooltip-text="App Switcher" tooltip-alignment="right" kind="primary" size="lg" tooltip-position="bottom" type="button">
	  <!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" slot="icon"><!--?lit$67530814$--><path d="M14 4H18V8H14zM4 4H8V8H4zM24 4H28V8H24zM14 14H18V18H14zM4 14H8V18H4zM24 14H28V18H24zM14 24H18V28H14zM4 24H8V28H4zM24 24H28V28H24z"></path></svg>
	</cds-header-global-action>
  </div>
  <cds-side-nav aria-label="Side navigation" collapse-mode="responsive" role="navigation">
	<cds-side-nav-items role="list">
	  <cds-header-side-nav-items has-divider="" role="list">
		<cds-side-nav-link href="javascript:void(0)" role="listitem">
		  Link 1
		</cds-side-nav-link>
		<cds-side-nav-link href="javascript:void(0)" role="listitem">
		  Link 2
		</cds-side-nav-link>
		<cds-side-nav-link href="javascript:void(0)" role="listitem">
		  Link 3
		</cds-side-nav-link>
		<cds-side-nav-menu title="Link 4" role="listitem">
		  <cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1">
			Sub-link 1
		  </cds-side-nav-menu-item>
		  <cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1">
			Sub-link 2
		  </cds-side-nav-menu-item>
		  <cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1">
			Sub-link 3
		  </cds-side-nav-menu-item>
		</cds-side-nav-menu>
	  </cds-header-side-nav-items>
	  <cds-side-nav-menu title="Category title" role="listitem">
		<!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" slot="title-icon"><!--?lit$67530814$--><path d="M4.1 12.6l-.6.8c.6.5 1.3.9 2.1 1.2l.3-.9C5.3 13.4 4.7 13 4.1 12.6zM2.1 9l-1 .2c.1.8.4 1.6.8 2.3L2.8 11C2.4 10.4 2.2 9.7 2.1 9zM5.9 2.4L5.6 1.4C4.8 1.7 4.1 2.1 3.5 2.7l.6.8C4.7 3 5.3 2.6 5.9 2.4zM2.8 5L1.9 4.5C1.5 5.2 1.3 6 1.1 6.8l1 .2C2.2 6.3 2.5 5.6 2.8 5zM8 1v1c3.3 0 6 2.7 6 6s-2.7 6-6 6v1c3.9 0 7-3.1 7-7S11.9 1 8 1z"></path></svg>
		<cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
		<cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
		<cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
	  </cds-side-nav-menu>
	  <cds-side-nav-menu title="Category title" role="listitem">
		<!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" slot="title-icon"><!--?lit$67530814$--><path d="M4.1 12.6l-.6.8c.6.5 1.3.9 2.1 1.2l.3-.9C5.3 13.4 4.7 13 4.1 12.6zM2.1 9l-1 .2c.1.8.4 1.6.8 2.3L2.8 11C2.4 10.4 2.2 9.7 2.1 9zM5.9 2.4L5.6 1.4C4.8 1.7 4.1 2.1 3.5 2.7l.6.8C4.7 3 5.3 2.6 5.9 2.4zM2.8 5L1.9 4.5C1.5 5.2 1.3 6 1.1 6.8l1 .2C2.2 6.3 2.5 5.6 2.8 5zM8 1v1c3.3 0 6 2.7 6 6s-2.7 6-6 6v1c3.9 0 7-3.1 7-7S11.9 1 8 1z"></path></svg>
		<cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
		<cds-side-nav-menu-item aria-current="page" href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
		<cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
	  </cds-side-nav-menu>
	  <cds-side-nav-menu title="Category title" role="listitem" active="">
		<!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" slot="title-icon"><!--?lit$67530814$--><path d="M4.1 12.6l-.6.8c.6.5 1.3.9 2.1 1.2l.3-.9C5.3 13.4 4.7 13 4.1 12.6zM2.1 9l-1 .2c.1.8.4 1.6.8 2.3L2.8 11C2.4 10.4 2.2 9.7 2.1 9zM5.9 2.4L5.6 1.4C4.8 1.7 4.1 2.1 3.5 2.7l.6.8C4.7 3 5.3 2.6 5.9 2.4zM2.8 5L1.9 4.5C1.5 5.2 1.3 6 1.1 6.8l1 .2C2.2 6.3 2.5 5.6 2.8 5zM8 1v1c3.3 0 6 2.7 6 6s-2.7 6-6 6v1c3.9 0 7-3.1 7-7S11.9 1 8 1z"></path></svg>
		<cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
		<cds-side-nav-menu-item active="" href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
		<cds-side-nav-menu-item href="https://www.carbondesignsystem.com/" role="button" tabindex="-1" parent-has-icon="">
		  Link
		</cds-side-nav-menu-item>
	  </cds-side-nav-menu>
	  <cds-side-nav-link href="javascript:void(0)" role="listitem"><!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" slot="title-icon"><!--?lit$67530814$--><path d="M4.1 12.6l-.6.8c.6.5 1.3.9 2.1 1.2l.3-.9C5.3 13.4 4.7 13 4.1 12.6zM2.1 9l-1 .2c.1.8.4 1.6.8 2.3L2.8 11C2.4 10.4 2.2 9.7 2.1 9zM5.9 2.4L5.6 1.4C4.8 1.7 4.1 2.1 3.5 2.7l.6.8C4.7 3 5.3 2.6 5.9 2.4zM2.8 5L1.9 4.5C1.5 5.2 1.3 6 1.1 6.8l1 .2C2.2 6.3 2.5 5.6 2.8 5zM8 1v1c3.3 0 6 2.7 6 6s-2.7 6-6 6v1c3.9 0 7-3.1 7-7S11.9 1 8 1z"></path></svg>Link</cds-side-nav-link>
	  <cds-side-nav-link href="javascript:void(0)" role="listitem"><!--?lit$67530814$--><svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" slot="title-icon"><!--?lit$67530814$--><path d="M4.1 12.6l-.6.8c.6.5 1.3.9 2.1 1.2l.3-.9C5.3 13.4 4.7 13 4.1 12.6zM2.1 9l-1 .2c.1.8.4 1.6.8 2.3L2.8 11C2.4 10.4 2.2 9.7 2.1 9zM5.9 2.4L5.6 1.4C4.8 1.7 4.1 2.1 3.5 2.7l.6.8C4.7 3 5.3 2.6 5.9 2.4zM2.8 5L1.9 4.5C1.5 5.2 1.3 6 1.1 6.8l1 .2C2.2 6.3 2.5 5.6 2.8 5zM8 1v1c3.3 0 6 2.7 6 6s-2.7 6-6 6v1c3.9 0 7-3.1 7-7S11.9 1 8 1z"></path></svg>Link</cds-side-nav-link>
	</cds-side-nav-items>
  </cds-side-nav>
</cds-header>
