{% set sub_len = subscriptions | length %}
<div class="grid bg-inherit xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 min-h-60">
	<div id="user_info" class="px-3 py-3 mx-3 mb-4 xl:my-0 rounded-md dark:bg-[#343a3f] bg-[#f4f4f4]">
		<p class="border-b font-bold">Your Info</p>
		<p class="pt-4">Name: {{ name }}</p>
		<p class="pt-2">Email: {{ email }}</p>
		<p class="pt-2">User type: {{ user_type }}</p>
	</div>
	<div id="group_info" class="px-3 py-3 mx-3 xl:my-0 lg:mb-4 rounded-md dark:bg-[#343a3f] bg-[#f4f4f4]">
		<p class="border-b font-bold">Group Info</p>
		<table class="w-full mt-4">
			<tr>
				<td>Name:</td>
				<td>{{ group | first }}</td>
			</tr>
			<tr>
				<td class="align-top pt-2">Subscriptions:</td>
				<td class="pt-2">
					{% if subscriptions | length > 0 %}
					<ul>
						{% for sub in subscriptions %}
						<li class="{% if loop.index is odd %}bg-white dark:bg-[#42484e]{% endif %} p-1 rounded-md">
							{{ sub }}
						</li>
						{% endfor %}
					</ul>
					{% else %}
					None
					{% endif %}
				</td>
			</tr>
		</table>
	</div>
	<div id="token" class="flex flex-col px-3 py-3 mx-3 mt-4 xl:my-0 rounded-md dark:bg-[#343a3f] bg-[#f4f4f4]">
		{%include "components/token.html" %}
	</div>
</div>
