<p class="section-header">User Management</p>
<div class="pt-4" hx-ext="response-targets">
	<label for="searchInput" class="text-sm font-medium">Search</label>
	<div class="flex mt-2 relative">
		<input type="text" id="searchInput" name="email" class="flex-grow focus:outline-none"
			placeholder="Email address..." hx-get="hx/search_by_email" hx-trigger="input delay:1s"
			hx-target="#searchResults" hx-swap="innerHTML" hx-target-400="#searchResults" _="on input from me
		set innerHTML of #searchResults to '' end
		on htmx:beforeRequest if my value is empty set innerHTML of #searchResults to 'Value is required'
		then halt the event end">
		<svg xmlns="http://www.w3.org/2000/svg" class="input-icon" width="16" height="16" viewBox="0 0 32 32">
			<path d="M30 28.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L28.586 30zM5 14a9 9 0 1 1 9 9 9.01 9.01 0 0 1-9-9z"></path>
		</svg>
	</div>
	<div id="searchResults" class="pt-2">
	</div>
</div>
