<p class="border-b font-bold">Group Management</p>
<div class="flex flex-col flex-grow pt-4 text-center justify-center items-center">
	<a id="group_admin_view_member" hx-get="group_admin/hx/tab?tab=GroupView" hx-target="#system_admin_group"
		class="lg:w-[300px] w-[220px] h-[50px] py-2 flex justify-center items-center cb_button cursor-pointer"
		tabindex="0">
		View Groups
	</a>
	<a id="group_admin_add_member" hx-get="group_admin/hx/tab?tab=UserModify" hx-target="#system_admin_group"
		class="lg:w-[300px] w-[220px] h-[50px] py-2 mt-4 flex justify-center items-center cb_button cursor-pointer"
		tabindex="0">
		Create Group
	</a>
</div>
