{### Token generation ###}

<div id="token-wrapper">
	<div id="response-token" _="on click
			 writeText(my innerText) on navigator.clipboard
			 add .copy-blink to me then settle
			 remove .copy-blink then settle">
		{% if not token %}
		<span class="softer">You do not have a token yet.</span>
		{% else %}
		{{ token }}
		{% endif %}
	</div>

	<p class="soft-text">{% if token %}Expiration date: {{ token_exp }}{% else %}&nbsp;{% endif %}</p>

	<cds-button hx-get="/portal/hx/token" hx-target="#token-wrapper" hx-swap="innerhtml">
		{% if token %}Regenerate{% else %}Generate{% endif %} token
	</cds-button>
</div>
