{# User search and list template #}

<div hx-ext="response-targets">
	<cds-form-group class="cds-group">
		<cds-text-input label="Email" name="email" helper-text="partial match allowed" hx-trigger="input delay:1s" hx-get="hx/search_by_email" hx-target="#search-response" hx-swap="innerhtml" hx-target-400="#search-response" _="on input from me set innerHTML of #search-response to '' end
			on htmx:beforeRequest if my value is empty set innerHTML of #search-response to 'Value is required' then halt the event end" required></cds-text-input>
	</cds-form-group>

	<br><br>
	<div id="search-response"></div>
</div>
