<cds-button size="sm" href="/user/create">Add new</cds-button>
<br><br>
<div class="list-table">
	<div class="list-table-item">John Doe<div class="btn-wrap"><a hx-get="system_admin/hx/tab?tab=UserView" hx-target="#panel-users">view</a><a hx-get="system_admin/hx/tab?tab=UserModify" hx-target="#panel-users">edit</a></div></div>
	<div class="list-table-item">Jane Dou<div class="btn-wrap"><a hx-get="system_admin/hx/tab?tab=UserView" hx-target="#panel-users">view</a><a hx-get="system_admin/hx/tab?tab=UserModify" hx-target="#panel-users">edit</a></div></div>
	<div class="list-table-item">Jim Deer<div class="btn-wrap"><a hx-get="system_admin/hx/tab?tab=UserView" hx-target="#panel-users">view</a><a hx-get="system_admin/hx/tab?tab=UserModify" hx-target="#panel-users">edit</a></div></div>
</div>