{% if create %}
<h3>Create User</h3>
{% else %}
<h3><span class="softer">Edit User</span> {{target_user}}</h3>
{% endif %}
<form class="cds-group">
	<!-- Email -->
	<cds-text-input label="Email" name="email" helper-text="Selected from previous screen" value={{target_user}} required hidden></cds-text-input>
	<!-- Groups -->
	<cds-multi-select title-text="Groups" label="Select groups" name="groups" required>
		{% for item in group_items %}
		<cds-multi-select-item value="{{ item }}">{{ item }}</cds-multi-select-item>
		{% endfor %}
	</cds-multi-select>
	<!-- User type -->		
	<cds-dropdown title-text="User type" label="Select user type" name="user_type" required>
		{% for item in user_items %}
		<cds-dropdown-item value="{{ item }}">{{ item }}</cds-dropdown-item>
		{% endfor %}
	</cds-dropdown>
	<!-- Hidden: Last edit  -->
	<cds-text-input label="Last edit" name="last_updated_by" hidden value="{{ subject }}"></cds-text-input>
	<br>
	<!-- Submit -->
	<cds-button-set>
		<cds-button href="./">Cancel</cds-button>
		<cds-button type="submit" hx-patch="/portal/system_admin/hx/user" hx-target="#panel-users" hx-target-400="#response" hx-swap="innerhtml">Submit</cds-button>
	</cds-button-set>
</form>
<br>
<div id="response"></div>
