<cds-button size="sm" href="/user/create">Add new</cds-button>
<br><br>
<div class="list-table">
	<div class="list-table-item">John Doe<div class="btn-wrap"><a href="/user/john-doe">details</a><a href="/user/john-doe/edit">edit</a></div></div>
	<div class="list-table-item">Jane Dou<div class="btn-wrap"><a href="/user/john-doe">details</a><a href="/user/john-doe/edit">edit</a></div></div>
	<div class="list-table-item">Jim Deer<div class="btn-wrap"><a href="/user/john-doe">details</a><a href="/user/john-doe/edit">edit</a></div></div>
</div>