name: OpenBridge Merge

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongodb/mongodb-community-server
        env:
          MONGO_INITDB_ROOT_PASSWORD: "admin123456789"
          MONGO_INITDB_ROOT_USERNAME: "bridge-user"
          MONGO_INITDB_DATABASE: "bridge"
        ports:
          - 27017:27017
      keydb:
        image: eqalpha/keydb:latest
        env:
          KEYDB_PASSWORD: "admin123456789"
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Check Rust Version
      run: rustc --version

    - name: Install tools
      run: cargo install just

    - name: Build
      run: cargo build --features full

    - name: Run Lint
      run: |
        just certs
        just gen_curve
        cargo clippy --features full -- -D warnings

    - name: Run tests
      run: |
        cargo test --features full
